<!-- Main -->
<div id="main">
  <div class="inner">
    <!-- Header -->
    <header id="header">
      <a href="index.html" class="logo"><strong>Kade Illian</strong></a>
      <ul class="icons">
        <li><a href="https://github.com/kadeillian21" class="icon brands fa-github"><span
              class="label">GitHub</span></a></li>
        <li><a href="https://www.linkedin.com/in/kade-illian/" class="icon brands fa-linkedin"><span
              class="label">LinkedIn</span></a></li>
        <li><a href="mailto:kadeillianmt@gmail.com" class="icon solid fa-envelope"><span
              class="label">Email</span></a></li>
      </ul>
    </header>
    
    <h1>Login</h1>
    <%= form_with method: "post", url: "/sessions" do |form| %>
      <div>
        <%= form.label :email %>
        <%= form.email_field :email %>
      </div>
      <div>
        <%= form.label :password %>
        <%= form.password_field :password %>
      </div>
      <div>
        <%= form.submit "Submit" %>
      </div>
      <br>
      <br>
      <a href="<%= new_user_path %>" class="button primary medium">Create User</a>
    <% end%>


  </div>
</div>
