  <header id="blogheader">
    <h1><%= @last.title %></h1>
  </header>
  <p>Published on: <%= @last.created_at.strftime('%B %d, %Y') %></p>
  <p class="center">    
    <img class="blog-image" src= <%= @last.image_url %>>
  </p>
  <%= @last.preview_paragraph.html_safe %>
  <br>
  <br>
  <a href="blogs/<%= @last.id %>" class="button primary medium">View this Blog</a>