<div id="main">
  <div class="inner">
    <!-- Header -->
    <header id="header">
      <a href="<%= root_path %>" class="logo"><strong>Kade Illian</strong></a>
      <ul class="icons">
        <li><a href="https://github.com/kadeillian21" class="icon brands fa-github"><span
              class="label">GitHub</span></a></li>
        <li><a href="https://www.linkedin.com/in/kade-illian/" class="icon brands fa-linkedin"><span
              class="label">LinkedIn</span></a></li>
        <li><a href="mailto:kadeillianmt@gmail.com" class="icon solid fa-envelope"><span
              class="label">Email</span></a></li>
      </ul>
    </header>
    <div id="blogs">
      <%= render @blog %>
      <div class="card my-1">
        <div class="card-body">
          <p class="font-weight-bold">Comments</p>
          <%= form_with(model: [@blog, @blog.comments.build]) do |f| %>
            <div class="form-group">
              <%= f.label 'New comment' %>
              <%= f.text_area :body, class: 'form-control' %>
            </div>
            <%= f.submit 'Submit', class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
      <%= render @blog.comments %>
      <a href="<%= previous_page %>" class="button">Previous</a>
      <a class="button" href="<%= next_page %>">Next</a>
      <br>
      <br>
    </div>
  </div>
</div>